 body{
	 outline-color: 'cyan';
	 font-family: 'IBM Plex Sans', sans-serif;
	 background-color: white;
	 width: auto;
	 padding: 0px; !important
 }

a{
font-style: oblique;
text-decoration: underline;
}
.continent {
	fill: peachpuff;
	stroke: red;
	stroke-width: 0.5;
	padding: 0;
}

.circles {
	fill:red;
}

.labels {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 10px;
	fill: black;
}

.labels a {
  fill: black;
  text-decoration: underline;

}

h1{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size:2rem;
	position: fixed;
	color:red;
  margin:0px;
}


p{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size:0.8rem;
	color:red;
  margin-top:2.5rem;
  text-transform: uppercase;
  position: fixed;

}

.title{
  width:100%;
  height: 4rem;
  padding:1rem;
}

a:hover{
  cursor: pointer;
}

.footer{
  height:100%;
}

.footer p{
}
