 body{
	 background-color: #DDF1F3;
	 font-family: 'IBM Plex Sans', sans-serif;
	 width: auto;
	 padding: 0px; !important
 }

body ::selection{
  background-color:red;
  color:#DDF1F3;
}


.image{
  width:100%;
  height:50%;
  margin-top:15rem;
  position:fixed;
}

.image h2{
  font-size: 1.5rem;
  color:black;
}

p{
font-family: 'IBM Plex Sans', sans-serif;
color: black;
font-size: 0.7rem;
position: fixed;

}


p a {
text-decoration: underline;
font-family: 'IBM Plex Sans', sans-serif;
color: black;
position: fixed;

}


a:hover {
text-decoration: underline;
font-family: 'IBM Plex Sans', sans-serif;
color:black;
text-transform: underline;
position: fixed;
}

.continent {
	fill: peachpuff;
	stroke: red;
	stroke-width: 0.5;
	padding: 0;
}

.circles {
	fill:black;
}

.labels {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 12px;
	fill: black;
}

.labels a {
  fill: red;
}

.labels a:hover {
  fill: red;

}


h1{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size:1.5rem;
	position: fixed;
	color:red;
  margin:0px;
}


h2{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size:0.8rem;
	color:red;
  margin-top:2.5rem;
  text-transform: uppercase;
  position: fixed;

}

.title{
  width:100%;
  height:6rem;
  padding-top:0.5rem;
}


.intro{
  width:100%;
  height:6rem;
  padding-top:0.5rem;
  position:fixed;
}



a:hover{
  cursor: pointer;

}

.footer p{
  height:100%;
  font-size: 0.5rem;
  font-weight: 100;
  position:fixed;
}

.svg-content{
margin-bottom:1em;
}

@media (max-width: 576px) {
  .svg-content{
  display:none;
  }

}

@media (min-width: 576px) {
  .image{
  display:none;
  }

}
