 body{
	 outline-color: 'cyan';
	 font-family: 'Archivo', sans-serif;
	 background-color: lightseagreen;
	 width: auto;
	 padding: 0px; !important
 }

.continent {
	fill: peachpuff;
	stroke: lightseagreen;
	stroke-width: 0.5;
	padding: 0;
}

.circles {
	fill:black;
}

.labels {
	border-color: black;
	font-family: 'Archivo', sans-serif;
	font-size: 20px;
	fill: black;
}


h1{
	font-family: 'Archivo', sans-serif;
	font-size:3rem;
	position: fixed;
	color:white;
}

#title{
	height: 10rem;
	background-color: blue;
	margin:0px;
}
